.Login {
    text-align: center;
}

.Login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: white;
    font-size: 1em;
    min-height: 100vh;
}

.Login-link {
    /*color: #61dafb;*/
    color: #302f90;
}

.label-1 {
    font-size: 2em;
}

.Login-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;

    border: thick solid #302f90;
    border-radius: 5%;
    background-color: lightgray;
    padding: 2.5vh;
    width: 25%;
    text-align: center;
    color: black;
}

.Login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2.5vh;
    padding: 2.5vh;
    width: 100%;
    text-align: left;


    /*background-color: '#a81d20';
      background-color: '#ffffff';*/
}

.Login-section {
    display: flex;
    flex-direction: column;
}

.Login-input {

}

input {
    margin: 1vh 0 1vh 0;
    border: 0;
    border-radius: 5px;
    padding: 2vh;
}
