################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/.vs
/.vs/What-The-Food-
/.vs
