################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/.vs
/.vs/What-The-Food-
/.vs
/Milestone 3/Workspace/Console Runner/Console Runner/obj
/Milestone 3/Workspace/Console Runner/UnitTest/obj
