div {
}

#logo {
    height: 150px;
    width: 175px;
    background-color: lightgreen;
    padding-top: 20px;
    margin: 4px 2px;
    display: inline-block;
    text-align: center;
    font-size: 25px;
}
.button {
    
    background-color: lightblue;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    background-color: lightgray;
    color: black;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#setting {
    position: relative;
    height: 500px;
    width: 980px;
    background-color: lightgreen;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    text-align: left;
    font-size: 25px;
}

.box {
    height:350px;
    width: 980px;
    background-color: white;
    
}

.box2 {
    height: 450px;
    width: 980px;
    background-color: white;
}

.box3{
    height: 100px;
    width: 200px;
    background-color: pink;
}

.circle {
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: #d8753b;
    color: white;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}
.circle2 {
    height: 120px;
    width: 120px;
    background-color: #b989b8
}

body {
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

