.rating {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

.partition {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 25px;

}

#foodImage {
    text-align: center;
}
