.big-logo {
    width: 150px;
    height: 150px;
    color: black;
}

.news-scroll {
    margin: auto;
    background-color: white;
    width: 950px;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}

.news-box {
    border: 1px solid black;
    width: 950px;
    height: 150px;
    overflow: hidden;
}

.image-box {
    float: left;
    width: 200px;
    height: 150px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 15px;
    object-fit: fill;
}

img {
    width: 190px;
    height: 150px;
    aspect-ratio: auto 200 / 200;
}

.headline-box {
    display: inline-block;
    position: relative;
    width: 728px;
    height: 50px;
    overflow: auto;
    border-collapse: separate;
    word-wrap: break-word;
    font-size: 17px;
    font-weight: bold;
}

.text-box {
    display: inline-block;
    position: relative;
    bottom: 45px;
    width: 728px;
    height: 150px;
    overflow: auto;
    font-size: 13px;
}
