<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="styles/login.css">
    <script type="text/javascript" src="/scripts/signup.js"></script>
</head>
<body>
<div class="main">
    <img class="logo" src="images/apple.png" alt="What The Food?!">
    <header class="header">
        <div class="box">
            <label class="label">Signup</label>
            <form class="form" onsubmit="sendSignup(event)">
                <section class="section">
                    <label>Name:</label>
                    <label>
                        <input class="input" id="name" type="text" name="name"
                               placeholder='First and Last Name'/>
                    </label>
                </section>
                <section class="section">
                    <label>Email:</label>
                    <label>
                        <input class="input" id="email"
                               type="email" name="email" placeholder="Email"/>
                    </label>
                </section>
                <section class="section">
                    <label>Password:</label>
                    <label>
                        <input class="input" id="password"
                               type="password" name="password" placeholder="Password"/>
                    </label>
                </section>
                <section class="section">
                    <label>Confirm Password:</label>
                    <label>
                        <input class="input" id="confirmPassword"
                               type="password" name="confirmPassword" placeholder="Confirm Password"/>
                    </label>
                </section>
                <label id="confirmLabel"></label>
                <input class="input" type="submit" value="Submit"/>
            </form>
            <a class="link" href="login.html">Already have an account?</a>
            <a class="link" href="index.html">Continue as Guest</a>
        </div>
    </header>
</div>
</body>
</html>
