 MYSQL_ROOT_PASSWORD = rootpassword
export MYSQL_USER = customer_admin
export MYSQL_PASSWORD = custerom_pass
export MYSQL_DATABASE = Customers
export Customer_DesignTime_ConnectionString = 'host = localhost; user = root; password = myPassword; database = ef'
export Customer_ConnectionString = 'host = localhost; user = root; password = myPassword; database = ef'
export Customer_MYSQL_Version 10.6